<div class="mt-4">
  <div class="d-flex justify-content-between">
    <h3>Khóa học đã xóa</h3>
    <a href="/me/stored/courses"><i class="fa-solid fa-arrow-rotate-left"></i></a>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Thời gian xóa</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.deletedAt}}</td>
        <td><a href="/courses/{{this._id}}/edit" class="btn btn-link restore-btn" data-id="{{this._id}}">Khôi phục</a>
        </td>
        <td><a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
            data-id="{{this._id}}" data-name="{{this.name}}">Xóa vĩnh viễn</a>
        <td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Thùng rác trống.
          <a href="/me/stored/courses">Danh sách khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Confirm deleting -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa vĩnh viễn khóa học ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete-confirm-btn">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST" action=""></form>
<form name="restore-course-form" method="POST" action=""></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let idToBeDelete;
    let deleteForm = document.forms['delete-course-form'];
    let restoreForm = document.forms['restore-course-form'];
    let confirmButton = document.getElementById('delete-confirm-btn');
    let restoreButtons = document.querySelectorAll('.restore-btn');

    document.getElementById('delete-course-modal').addEventListener('show.bs.modal', function (event) {
      let button = event.relatedTarget;
      idToBeDelete = button.getAttribute('data-id');
      document.getElementById('delete-course-modal').querySelector('.modal-body').textContent = "Chắc chắn muốn xóa vĩnh viễn khóa học " + button.getAttribute('data-name') + " ?";
    });

    confirmButton.addEventListener('click', function () {
      deleteForm.action = "/courses/" + idToBeDelete + "/force?_method=DELETE";
      deleteForm.submit();
    });

    restoreButtons.forEach(function (btn) {
      btn.addEventListener('click', function (event) {
        event.preventDefault();

        restoreForm.action = "/courses/" + btn.getAttribute('data-id') + "/restore?_method=PATCH";
        restoreForm.submit();
      });
    });

  });
</script>